@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto';
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 100px;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

.hero{
  font-size: 25px;
  padding: 50px 100px;
  background-color:rgba(30,58,138);
  color:#d3d3d3
}
p{
  font-size: 16px;
}

table{
  width: 70vw;
  margin:50px
}
h2,.post-form{
  margin-left: 50px;
}
button{
  padding: 7px;
  text-transform: uppercase;
  background-color: #b00404;
  color: #f2f2f2;
  border: none;
}

.add{
  width: 100px;
  background-color: #04AA6D;
}

.edit{
  background-color: goldenrod;
}

.flex{
  display: flex
}

.input-l{
  width: 90%;

}